.navBarContainer {
    background-color: rgb(223, 187, 194);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    justify-content: space-around;
    align-items: start;
    padding-left: 25px;
}