.itemCardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
  .img {
    width: 100%;
    // height: auto;
    object-fit: cover;
    aspect-ratio: 1.5/1;
  }
  .title {
    font-family: "Fraunces", serif;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.25;
    margin-top: 15px;
  }
  .description {
    font-size: 18px;
  }
  .infoWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    .authorDate {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
      .author {
        border-right: 1px solid red;
        padding-right: 5px;
        margin-right: 5px;
      }
      .date {}
    }
    .readMore {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      white-space: nowrap;
      color: #e8aa42;
      .rightSVG {
        width: 30px;
        height: 30px;
      }
    }
  }
}
